services:
  app:
    build:
      context: ./app
    networks:
      - flask_flet_net
    ports:
      84:80
    container_name: flask
    restart: always
    
  frontend:
    build:
      context: ./FrontEnd
    networks:
      - flask_flet_net
    container_name: flet

networks:
  flask_flet_net:

